img{
    border-radius: 30px;
}
 
body{
background-image: url("../images/photo.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-weight: normal!important;
color: aliceblue;
font-size: 20px;

}

h1{
    color:#AF7AC5;
}

  

h2, h3{
    color:#A93226;
    font-size: 25px;
}

p{color white;
    font-size:20px;
    color:rgb(122, 182, 197)
}
 Najla{
     color:forestgreen;
     font-size: 20px;
 }